﻿@model FciitTestTaskLibrary.Models.Book

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/_ViewImports.cshtml";
}

<h2>Edit</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <h4>Авторы</h4>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: authors">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: lastName"></td>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: middleName"></td>
                    <td>
                        <a data-bind="attr: { href: '/authors/edit/' + id }">
                            редактировать
                        </a>
                    </td>
                    <td>
                        <a href="#" data-bind="click: removeItem">
                            удалить
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <select data-bind="options: notLinkedAuthors,
                       optionsText: 'shortFio',
                       optionsValue: 'id',
                       value: selectedAuthor,
                       optionsCaption: 'Choose...'"></select>
        <button data-bind="click: addAuthor">Добавить автора</button>
        <br />
        <h4>Загруженные файлы</h4>
        <!-- ko foreach: bookscontentlinks -->
        <a data-bind="attr: { href: '/api/BooksContents/' + booksContentID, title: '@Model.Title' }, text: '@Model.Title' + extension.ext"></a><br />
        <!-- /ko -->

        <form method="post" enctype="multipart/form-data" @*action="/api/BooksContents/PostBooksContent" *@ asp-controller="api/BooksContents" asp-action="UploadFiles">
            <input name="BookID" value="@Model.ID" type="hidden" class="form-control" />
            <input name="Files" type="file" class="form-control" accept="@ViewBag.ExtensionsList" />
            <input type="submit" value="Загрузить файл" class="btn btn-default" />
        </form>
       <br />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/knockout-3.5.0.js"></script>
    <script type="text/javascript">
        function Author(data) {
            console.log("Author(data) => " + JSON.stringify(data));
            this.id = data.id;
            this.lastName = data.lastName;
            this.firstName = data.firstName;
            this.middleName = data.middleName;
            this.shortFio = data.lastName + " " + (data.firstName.length > 0 ? data.firstName.substring(0, 1) + "." + (data.middleName.length > 0 ? data.middleName.substring(0, 1) + "." : "") : "");
        }

        function BooksContentLink(data) {
            console.log("BooksContentLink(data) => " + JSON.stringify(data));
            this.id = data.id;
            this.bookID = data.bookID;
            this.booksContentID = data.booksContentID;
            this.extensionID = data.extensionID;
            this.extension = data.extension;
        }

        function BookViewModel() {
            // Data
            var self = this;
            self.authors = ko.observableArray([]);
            self.notLinkedAuthors = ko.observableArray([]);
            self.selectedAuthor = ko.observable();
            self.bookscontentlinks = ko.observableArray([]);

            self.addAuthor = function () {                
                sendAjaxRequest("POST", function () { self.getAuthors(); self.getNotLinkedAuthors(); }, "/api/BookAuthors/", { "bookid": @Model.ID, "authorid": self.selectedAuthor() , "order": 1 });               
            };

            self.removeItem = function (item) {
                sendAjaxRequest("DELETE", function () { self.getAuthors(); self.getNotLinkedAuthors(); }, "/api/BookAuthors/ByBookAndAuthor/?bookid=@Model.ID&authorid=" + item.id);
            }

            self.getAuthors = function () {
                sendAjaxRequest("GET",
                    function (allData) {
                        console.log(allData);
                        self.authors.removeAll();
                        $.map(allData, function (a, i) { self.authors.push(new Author(a)); });
                    },
                    "/api/Authors/GetAuthorByBook/@Model.ID"
                );                
            }

            self.getAuthors();

            self.getNotLinkedAuthors = function () {
                sendAjaxRequest("GET",
                    function (allData) {
                        console.log(allData);
                        self.notLinkedAuthors.removeAll();
                        $.map(allData, function (a, i) { self.notLinkedAuthors.push(new Author(a)); });
                    },
                    "/api/Authors/GetNotLinkedAuthors/@Model.ID"
                );
            };

            self.getNotLinkedAuthors();

            self.getBookscontentlinks = function () {
                sendAjaxRequest("GET",
                    function (allData) {
                        console.log(allData);
                        self.bookscontentlinks.removeAll();
                        $.map(allData, function (a, i) { self.bookscontentlinks.push(new BooksContentLink(a)); });
                    },
                    "/api/BooksContentLinks/GetByBook/@Model.ID"
                );
            };

            self.getBookscontentlinks();
        }

        function sendAjaxRequest(httpMethod, callback, url, obj) {
            if (httpMethod == "POST") {
                $.ajax(url, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    //type: 'POST',
                    type: httpMethod,
                    data: JSON.stringify(obj),
                    dataType: 'json',
                    success: callback
                });
            } else {
                $.ajax(url, {
                    type: httpMethod,
                    success: callback
                });
            }
        }

        $(document).ready(function () {
            ko.applyBindings(BookViewModel);            
        });
        </script>
}
