﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

<div id="summary" class="section panel panel-primary">
    <div class="panel-heading">Все книги</div>
    <div class="panel-body">
        <form data-bind="submit: addBook">
            Добавить книгу: <input data-bind="value: newTitle" placeholder="Название..." /><input data-bind="value: newIsbn" placeholder="isbn..." />
            <button type="submit">Добавить</button>
        </form>

        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>isbn</th>
                    <th>Авторы</th>
                    <th>Скачать</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><input type="text" data-bind="value: titleFilter, valueUpdate: 'keyup'" /></td>
                    <td><input type="text" data-bind="value: isbnFilter, valueUpdate: 'keyup'" /></td>
                    <td><input type="text" data-bind="value: authorFilter, valueUpdate: 'keyup'" /></td>
                    <td></td>
                    <td></td>                    
                </tr>
                <!-- ko foreach: books -->
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: isbn"></td>
                    <td data-bind="text: getAuthorToString"></td>
                    <td>
                        <!-- ko foreach: extensions -->
                        <a data-bind="attr: { href: 'api/BooksContents/' + booksContentID, title: $parent.title }, text: ext"></a>
                        <!-- /ko -->
                    </td>
                    <td>
                        <a data-bind="attr:{ href: '/Books/Edit/' + id }">
                            редактировать
                        </a>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/knockout-3.5.0.js"></script>
    <script type="text/javascript">

        var changeFilterTimeout = 0;

        function Book(data) {
            var self = this;
            self.id = data.id;
            self.title = data.title;
            self.isbn = data.isbn;
            self.authors = getAuthors(data.bookAuthors);
            self.bookAuthors = data.bookAuthors;
            self.extensions = [];

            if (data.booksContentLinks.length > 0) {
                $.map(data.booksContentLinks, function (e, i) { self.extensions.push(new Extension({ id: e.extension.id, ext: e.extension.ext, booksContentID: e.booksContentID})); });
            }

            self.getAuthorToString = ko.pureComputed(function () {               
                var a = '';
                var tempAuthor;
                console.log("self.bookAuthors");
                console.log(self.bookAuthors);
                for (bookAuthor in self.bookAuthors) {
                    tempAuthor = new Author(self.bookAuthors[bookAuthor].author);
                    a += tempAuthor.shortFio + (bookAuthor < (self.bookAuthors.length - 1) ? "; " : "");
                    console.log(self.bookAuthors[bookAuthor]);
                    console.log(tempAuthor.shortFio);
                }
                return a;
            });
        }

        function getAuthors(bookAuthors) {
            var authors = [];
            for (i = 0; i < bookAuthors.length; i++) {
                authors[i] = bookAuthors[i].author;
            };
            console.log(authors);
        }

        function Author(data) {
            console.log("Author(data) => " + JSON.stringify(data));
            this.id = data.id;
            this.lastName = data.lastName;
            this.firstName = data.firstName;            
            this.middleName = data.middleName;
            this.shortFio = data.lastName + " " + (data.firstName.length > 0 ? data.firstName.substring(0, 1) + "." + (data.middleName.length > 0 ? data.middleName.substring(0, 1) + "." : "") : "");
        }

        function Extension(data) {
            console.log("Extension(data) => " + JSON.stringify(data));
            this.id = data.id;
            this.ext = data.ext;
            this.booksContentID = data.booksContentID;
        }
        
        function BookListViewModel() {
            // Data
            var self = this;
            self.books = ko.observableArray([]);
            self.newTitle = ko.observable();
            self.newIsbn = ko.observable();
            self.titleFilter = ko.observable("");
            self.isbnFilter = ko.observable("");
            self.authorFilter = ko.observable("");

            self.addBook = function () {
                sendAjaxRequest("POST", self.getBooks, { id: 0, title: self.newTitle(), isbn: self.newIsbn() });
                self.newTitle("");
                self.newIsbn("");
            };

            self.removeItem = function (book) {
                sendAjaxRequest("DELETE", self.getBooks, book.id);
            }

            self.getBooks = function () {
                sendAjaxRequest("GET",
                    function (allData) {
                        console.log(allData);
                        self.books.removeAll();
                        $.map(allData, function (a, i) { self.books.push(new Book(a)); });
                    }
                );
            }
            
            self.getBooks();
                        
            self.titleFilter.subscribe(function (newValue) {
                self.filtering();
            });
            self.isbnFilter.subscribe(function (newValue) {
                self.filtering();
            });
            self.authorFilter.subscribe(function (newValue) {
                self.filtering();
            });
            self.filtering = function () {
                    clearTimeout(changeFilterTimeout);
                    changeFilterTimeout = setTimeout(function () {
                        sendAjaxRequest("GET",
                            function (allData) {
                                console.log(allData);
                                self.books.removeAll();
                                $.map(allData, function (a, i) { self.books.push(new Book(a)); });
                            },
                            "?" + (
                                (self.titleFilter().length > 0 ? "title=" + self.titleFilter() : "") +
                                (self.isbnFilter().length > 0 ? "&isbn=" + self.isbnFilter() : "") +
                                (self.authorFilter().length > 0 ? "&author=" + self.authorFilter() : "")
                            )
                        );
                    }, 500);
                //}
            }
        };

        function sendAjaxRequest(httpMethod, callback, url) {
            if (httpMethod == "POST") {
                $.ajax("/api/Books", {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    //type: 'POST',
                    type: httpMethod,
                    data: JSON.stringify(url),
                    dataType: 'json',
                    success: callback
                });
            } else {
                $.ajax("/api/Books" + (url ? "/" + url : ""), {
                    type: httpMethod,
                    success: callback
                });
            }
        }
       
        $(document).ready(function () {
            ko.applyBindings(BookListViewModel);
        });
    </script>
}